.editor-tools {
    background-color: var(--clr3);
    grid-area: editor-tools;
    align-self: center;
    height: 100%;
    max-width: 400px;
    grid-template-areas: 
    "input"
    "editor-btns"
    "editor-inputs"
    "bnt-user";
}
.editor-inputs{
    grid-area:editor-inputs ;
    justify-self: center;
    width: 100%;
}

.bnt-user{
    grid-area:bnt-user ;

}

.editor-tools input {
    margin-inline: auto;
    margin-block-start: 10px;
    height: 45px;
    width: 85%;
    text-align: center;
    grid-area: input;
}

.editor-btns {
    text-align: center;
    grid-area:editor-btns ;
}

.editor-tools img {
    width: 50px;
    padding: 10px;
    background-color: var(--clr1);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.editor-tools img:hover {
    background-color: var(--clr5);
}

.font-select {
    margin-inline: auto;
    height: 45px;
    width: 40%;
}

.editor-tools .btn-container {
    justify-content: space-around;
}

.editor-tools button {
    background-color: var(--clr1);
    font-family: montserrat-bold;
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 0;
}

.editor-tools .download-btn {
    padding: 14px;
}

.editor-tools button:hover {
    background-color: var(--clr5);
}


@media (min-width : 890px){


}