.editor-tools {
    background-color: var(--clr3);
    grid-area: editor-tools;
    align-self: center;
    height: 100%;
    max-width: 400px;
}

.editor-tools input {
    margin-inline: auto;
    margin-block-start: 10px;
    height: 45px;
    width: 85%;
    text-align: center;
}

.editor-btns {
    text-align: center;
}

.editor-tools img {
    width: 50px;
    padding: 10px;
    background-color: var(--clr1);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.editor-tools img:hover {
    background-color: var(--clr5);
}

.font-select {
    margin-inline: auto;
    height: 45px;
    width: 40%;
}

.editor-tools .btn-container {
justify-content: space-around;
}

.editor-tools button {
    background-color: var(--clr1);
    font-family: montserrat-bold;
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;
    width: fit-content; 
    padding: 0;
}

.editor-tools .download-btn {
  padding: 14px; 
}

.editor-tools button:hover {
    background-color: var(--clr5);
}


