.editor-tools {
    justify-self: center;
    width: 95%;
    background-color: var(--clr3);
    grid-area: editor-tools;
    align-self: center;
    height: 100%;
    max-width: 400px;
    row-gap: 20px;
    grid-template-areas:
        "input"
        "editor-btns"
        "editor-inputs"
        "bnt-user";
}

.editor-inputs {
    grid-area: editor-inputs;
    justify-content: space-around;
    width: 100%;
}

.stroke-picker, .color-picker{
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 7px;
    background-color: var(--clr1);
    margin-inline: auto;
    cursor: pointer;
}
.stroke-picker:hover, .color-picker:hover{
    background-color: var(--clr5);
}

.bnt-user {
    grid-area: bnt-user;
    justify-content: space-around;
    padding: 20px;
}

.editor-tools .meme-input {
    margin-inline: auto;
    margin-block-start: 10px;
    height: 45px;
    width: 85%;
    text-align: center;
    grid-area: input;
}

.editor-btns {
    text-align: center;
    grid-area: editor-btns;
}

.editor-tools img {
    width: 50px;
    padding: 10px;
    background-color: var(--clr1);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.editor-tools img:hover {
    background-color: var(--clr5);
}

.font-select {
    margin-inline: auto;
    height: 45px;
    width: 40%;
    text-align: center;
}

.editor-tools .btn-container {
    justify-content: space-around;
}

.editor-tools button {
    background-color: var(--clr1);
    font-family: montserrat-bold;
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 0;
}

.editor-tools button:hover {
    background-color: var(--clr5);
}

.editor-tools .download-btn {
    padding: 14px;
}

.editor-tools .share-btn {
    padding: 14px;
}