.main-header {
    background-color: var(--clr1);
    color: var(--clr3);
}

.main-header .logo {
    color: black;
    font-family: SourceCodePro;
    font-size: 2rem;
    align-self: center
}

.main-header .logo span {
    color: var(--clr4);
    position: relative;
    top: -6px;
}

.main-nav a {
    padding: 40px;
    margin-left: 10px;
    margin: 0;
}

.main-nav li:last-child {
    box-shadow: -1px 0 0 0 var(--clr3), inset -1px 0 0 0 var(--clr3)
}

.main-nav li {
    box-shadow: -1px 0 0 0 var(--clr3);
}


.main-nav a:hover {
    color: var(--clr4);
    box-shadow: inset 0 -6px 0 var(--clr4);
    transition: color .4s, box-shadow .4s;
}