.main-content{
    background-color: var(--clr3);
    grid-template-columns: repeat(auto-fit, 350px) ;
    gap: 15px;
    justify-content: center;
    
}

.main-content img{
    cursor: pointer;
    height: 350px;
    width: auto;
}

.main-content img:hover{
 opacity: .5;
}



