.main-sort {
    background-color: var(--clr3);
    height: auto;
    padding: 30px;
    flex-direction: column-reverse;
    text-align: center;
}

.main-sort .keywords-container {
    padding-block-end: 40px;
}

.main-sort .keywords-container span {
    cursor: pointer;
    padding: 10px;
}

.main-sort .keywords-container .funny {
    font-size: 2.3rem;
}

.main-sort .keywords-container .dogs {
    font-size: 2rem;
}

.main-sort .keywords-container .movie {
    font-size: 2rem;
}

.main-sort .keywords-container .baby {
    font-size: 2.5rem;
}

.main-sort .search-keyword {
    width: 35%;
}