.main-content{
    background-color: var(--clr3);
    grid-template-columns: repeat(auto-fit, 250px) ;
    gap: 20px;
    justify-content: center;
    
}

.main-content img{
    cursor: pointer;
    height: 250px;
    width: auto;
}

.main-content img:hover{
 opacity: .5;
}



