@font-face {
    font-family: montserrat-regular;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-bold;
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: impact;
    src: url(/fonts/impact/impact.ttf);
}
@font-face {
    font-family: SourceCodePro;
    src: url(/fonts/Source_Code_Pro/static/SourceCodePro-Medium.ttf);
}
