:root {
    /* Main color */
    --clr1: #8eb8c1;

    /* background color  */
    --clr2: #161c2d;

    /* Secend background color */
    --clr3: #2c2f34;

    /* Main nav hover and logo color */
    --clr4: #fff;

    /* Editor tools btn hover  */
    --clr5: #cfe0e3;
}